apiVersion: v1
kind: ConfigMap
metadata:
  name: log-generator-script
data:
  log-generator.sh: |
    #!/bin/sh

    SIZE_KB={{ .Values.log.sizeKB }}
    INTERVAL_SECONDS={{ .Values.log.intervalSeconds }}

    SIZE_BYTES=$(expr $SIZE_KB \* 1024)

    while true; do
        dd if=/dev/zero of=/logs/generated.log bs=$SIZE_BYTES count=1 2>/dev/null
        echo "Generated log of $SIZE_KB KB at $(date)" >> /logs/generated.log
        sleep $INTERVAL_SECONDS
    done
